{% extends 'layout.html' %}

{% load static %}

{% block customCSS %}
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.0/fh-4.0.1/r-3.0.4/sc-2.4.3/datatables.min.css" rel="stylesheet" integrity="sha384-2Kog+xBHckFllab8GPEP0fmBUYJmdKFV6H8W6aCAO+er+nOxf6BKbg/pmKdwB/5l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block customJS %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.0/fh-4.0.1/r-3.0.4/sc-2.4.3/datatables.min.js" integrity="sha384-HNFSeuNc7s2HGzGjNFV/i0XipmC7zJwvuovdipYIHXhmXWV2bBAj7AQ3A03h5wiI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js" integrity="sha256-PtHu0lJIiSHfZeNj1nFd6wTX+Squ255SGZ/fc8seCtM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/orders.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'components/navbar.html' %}
    <div class="position-fixed bottom-0 end-0 m-3">
        <button type="button" class="btn btn-success d-flex justify-content-center align-items-center py-2" id="showOrder">
            <i class="ti ti-package-import fs-5"></i>
        </button>
    </div>

    <div class="container">
        <table class="table table-bordered" id="ordersTable">
            <thead>
                <tr>
                    <th class="text-center"><i class="ti ti-info-circle-filled fs-3"></i></th>
                    <th scope="col">Numero de orden</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Destinatario</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="modal fade" id="orderModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-black text-white">
                    <h1 class="modal-title fs-5" id="orderModalLabel">Nueva orden</h1>
                </div>
                <div class="modal-body">
                    <form id="orderForm" class="row g-3" x-data="{ showAddress: false, showEnvelope: false }">
                        <div :class="showAddress ? 'col-md-6' : 'col-md-12'">
                            <div class="form-floating">
                                <input type="text" class="form-control shadow-none" id="supplierInput" placeholder="">
                                <label for="supplierInput">Proveedor</label>
                            </div>
                        </div>
                        <template x-if="showAddress">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control shadow-none" id="addressInput" placeholder="">
                                    <label for="addressInput">Direccion del local</label>
                                </div>
                            </div>      
                        </template>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control shadow-none" id="customerInput" placeholder="">
                                <label for="customerInput">Cliente</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control shadow-none" id="phoneInput" placeholder="">
                                <label for="phoneInput">Numero de celular</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select shadow-none py-3" id="provinceSelect">
                                <option selected disabled>Provincia</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select shadow-none py-3" id="localitySelect">
                                <option selected disabled>Localidad</option>
                            </select>
                        </div>
                        <template x-if="showEnvelope">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-bg-success">
                                        <i class="ti ti-currency-dollar fs-5"></i>
                                    </span>
                                    <div class="form-floating">
                                      <input type="text" class="form-control shadow-none" id="envelopeInput" placeholder="">
                                      <label for="envelopeInput">Importe de sobre</label>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <div class="col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input shadow-none" type="checkbox" role="switch" id="pickupCheckbox" x-model="showAddress">
                                <label class="form-check-label fw-semibold" for="pickupCheckbox">Retiro de paquete</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input shadow-none" type="checkbox" role="switch" id="payCheckbox" x-model="showEnvelope">
                                <label class="form-check-label fw-semibold" for="payCheckbox">Pago a proveedor</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-black">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}